/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2016, 3:14:36 AM
    Author     : neil
*/

.starMapMsg {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
.starMapMsg table {
    border-collapse: collapse;
}
.starMapMsg table, th, td {
    border: 1px solid #999;
}
.starMapMsg td {
    background: #000;
    font-family: sans-serif;
    font-size: 0.7em;
    color: #ccc;
    height: 1.7em;
    padding: 0 0.5em 0 0.5em;
    vertical-align: center;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}